a:link,
a:visited {
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid brown;
    border-radius: 20px;
}

a:hover,
a:active {
    background-color: brown;
}

h3 {
    color: brown;
}

h3:hover {
    color: white;
    background: brown;
}

body {
    background-color: tan;
    margin-left: 40px;
}

input {
    width: 50%;
    margin: 20px;
    border-radius: 24px;
    background-image: linear-gradient(to right, white, white);
    height: 30px;
    border: 1px groove brown;
}


input[type=submit],
input[type=button] {
    background: brown;
    color: white;
}

input[type=submit]:hover {
    cursor: pointer;
}


#employees {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#employees td,
#employees th {
    border: 1px solid #ddd;
    padding: 8px;
}

#employees tr:nth-child(even) {
    background-color: #f2f2f2;
}

#employees tr:hover {
    background-color: #ddd;
}

#employees th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: brown;
    color: white;
}